<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Campsite" asp-action="Index">Campsites</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Reservation" asp-action="Book">Place a Reservation</a>
    </li>
</ul>
